body,
html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    background: #ccc;
    overflow: auto;
    -moz-user-select: -moz-none;
}

#gold {
    width: 256px;
    height: 256px;
    background: url(img/clicker.png);
    position: absolute;
    left: -64px;
    cursor: pointer;
}

#gold .cursor {
    width: 32px;
    height: 32px;
    position: absolute;
    background: url(cursor.png);
}

#pops {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
}

.pop {
    font-weight: bold;
    color: white;
    width: 200px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

#rightpan {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100000;
}

#store {
    position: relative;
}

#store>div {
    background: #eee no-repeat;
    width: 256px;
    height: 64px;
    padding-left: 72px;
    cursor: pointer;
    border: black 2px solid;
    position: relative;
}

#store>div:active {
    background-color: white;
}

#store>div b {
    display: block;
}

#store>div.grayed {
    background-color: #666;
    color: red;
}

#store>div.amount {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 48px;
    color: black;
    opacity: 0.5;
}

#saveMenu {
    position: absolute;
    left: 0px;
    top: 45px;
    margin: 10px 16px;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 14px;
    background: rgb(230, 230, 230);
    font-family: sans-serif;
}

#saveMenu.button {
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

#money {
    background: url(img/bank.png) no-repeat;
    background-color: white;
    border-radius: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 16px;
    height: 28px;
    padding: 4px 4px 0px 36px;
    font-weight: bold;
    font-size: 24px;
    z-index: 100;
}

#middle {
    position: absolute;
    left: 45%;
    top: 150px;
    width: 0px;
}

price {
    background: url(img/prix.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: -8px;
}